<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>

    <% if (userSecrets.length > 0) { %>
    <h1 class="display-3">These are your submitted secrets, <%= user %>!</h1>
    <% userSecrets.forEach((secret, index) => { %>
    <form action="/manage" method="POST">
      <p class="secret-text">
        <%= secret %>&nbsp
        <button
          class="btn btn-outline-light btn-delete"
          name="secretID"
          value="<%= index %>"
        >
          &times
        </button>
      </p>
    </form>

    <% })} else { %>
    <h1 class="display-3">
      You've not submitted any secrets yet, <%= user %>!
    </h1>
    <% } %>

    <hr />

    <form class="d-inline" action="/logout" method="POST">
      <input type="submit" value="Log Out" class="btn btn-light btn-lg" />
    </form>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">
      Submit a Secret
    </a>
    <a class="btn btn-light btn-lg" href="/secrets" role="button">
      All Secrets
    </a>
  </div>
</div>

<%- include('partials/footer') %>
