<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>

    <% if (allSecrets.length > 0) { %>
    <h1 class="display-3">You've Discovered Our secrets, <%= user %>!</h1>
    <% allSecrets.forEach((secret) => { %>
    <p class="secret-text"><%= secret %></p>
    <% })} else { %>
    <h1 class="display-3">Welcome, <%= user %>!</h1>
    <p class="secret-text">No Secrets Submitted Yet!</p>
    <% } %>

    <hr />

    <form class="d-inline" action="/logout" method="POST">
      <input type="submit" value="Log Out" class="btn btn-light btn-lg" />
    </form>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">
      Submit a Secret
    </a>
    <a class="btn btn-light btn-lg" href="/manage" role="button">
      My Secrets
    </a>
  </div>
</div>

<%- include('partials/footer') %>
